<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>LT</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Admin</b>LTE</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li><a data-toggle="modal" href="#myModal">登录</a></li>
                <!-- Modal -->
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <img src="/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">Alexander Pierce</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                            <p>
                                Alexander Pierce - Web Developer
                                <small>Member since Nov. 2012</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li id="category" class="header">当前栏目：<%= pagetype %></li>
            <!-- Optionally, you can add icons to the links -->
            <li id="category-recommend"><a href="/"><i class="fa fa-link"></i> <span>推荐</span></a></li>
            <li id="category-hot"><a href="/news_hot"><i class="fa fa-fire"></i> <span>热门</span></a></li>
            <li id="category-video"><a href="/news_video"><i class="fa fa-video-camera"></i> <span>视频</span></a></li>
            <li id="category-image"><a href="/news_image"><i class="fa fa-picture-o"></i> <span>图片</span></a></li>
            <li id="category-society"><a href="/news_society"><i class="fa fa-group"></i> <span>社会</span></a></li>
            <li id="category-entertainment"><a href="/news_entertainment"><i class="fa fa-tv"></i> <span>娱乐</span></a></li>
            <li id="category-tech"><a href="/news_tech"><i class="fa fa-rocket"></i> <span>科技</span></a></li>
            <li id="category-sports"><a href="/news_sports"><i class="fa fa-soccer-ball-o"></i> <span>体育</span></a></li>
            <li id="category-car"><a href="/news_car"><i class="fa fa-car"></i> <span>汽车</span></a></li>
            <li id="category-finance"><a href="/news_finance"><i class="fa fa-line-chart"></i> <span>财经</span></a></li>
            <li id="category-funny"><a href="/funny"><i class="fa fa-hand-peace-o"></i> <span>搞笑</span></a></li>
            <li id="category-sex"><a href="/sex"><i class="fa  fa-venus"></i> <span>美女</span></a></li>
        </ul>

        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
<div class="modal fade" id="myModal">
    <div class="login-box">

        <div class="login-logo">
            <img src="/images/funny.png" width="100px">
        </div>
        <!-- /.login-logo -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs nav-pills nav-fill">
                <li class="active"><a href="#login" data-toggle="tab">登录</a></li>
                <li><a href="#register" data-toggle="tab">注册</a></li>
            </ul>
            <div class="tab-content">
                <div id="login" class="tab-pane active">
                <p class="login-box-msg">欢迎来到 <b>闻所未闻</b></p>

                <form action="#" method="post">
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" placeholder="邮箱">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="密码">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
                        </div>
                        <!-- /.col -->
                    </div>
                    <p class="text-center"></p>
                </form>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-12">
                        <button class="btn btn-danger btn-block btn-flat">忘记密码</button>
                    </div>
                    <!-- /.col -->
                </div>
                </div>

                <div id="register" class="tab-pane">
                    <p class="login-box-msg">欢迎来到 <b>闻所未闻</b></p>

                    <form action="#" method="post">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="用户名">
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="email" class="form-control" placeholder="邮箱">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" placeholder="密码">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" placeholder="验证密码">
                            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">注册</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.login-box-body -->
    </div>
</div>